body {
    font-family: "Roboto", sans-serif;
}

.bold {
    font-weight: bold;
}

.display-none {
    display: none;
}

.align-center {
    display: flex;
    align-items: center;
}

.align-start {
    display: flex;
    align-items: flex-start;
}

.text-center {
    text-align: center;
}

.width100 {
    width: 100%;
}

#root, #gobiz-login-main, .main-body, .wrapper {
    position: absolute;
    height: 100%;
    width: 100%;
}

#left-panel {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.minified #main {
    left: 45px;
    margin-left: 0;
}

.avatar {
    width: 40px;
    height: 40px;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    vertical-align: middle;
}

.pdl10 {
    padding-left: 10px;
}

.pdr10 {
    padding-right: 10px;
}

.mgl40 {
    margin-left: 40px;
}

.mgl45 {
    margin-left: 45px;
}

.mgl60 {
    margin-left: 60px;
}

.mgl75 {
    margin-left: 75px;
}

.mgl80 {
    margin-left: 80px;
}

.color-red {
    color: red
}

.form-inline-flex {
    display: flex;
    justify-content: space-between;
    align-content: stretch;
}

.form-inline-flex .form-group {
    width: 100%;
}

.form-inline-flex .form-group input {
    width: 100%
}

.form-inline-flex .btn-custom {
    height: 32px;
}

.select__control {
    border-radius: 0!important;
}

.select__multi-value__remove:hover {
    background-color: transparent!important;
}

.Toastify__toast--success {
    background-color: #739e73;
}

textarea.form-control {
    max-width: 100%;
    min-height: 60px;
}

.metadata-header {
    margin-bottom: 10px;
}

.metadata-row {
    margin-bottom: 10px;
}

.splash-container {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenttable tbody tr:hover td .dpl-none {
    right: 5px;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.btn-small {
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    height: 30px;
    line-height: 30px;
}

.modal-btn {
    padding: 5px 20px;
    color: #fff;
    border-radius: 4px;
    display: inline-block;
}

.header__user_name .dropdown > button {
    background: none!important;
    border: none;
    height: unset;
    padding: 0;
    box-shadow: none;
    line-height: unset;
    color: #000;
}

.table>thead>tr>th {
    border-bottom: none;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    border-top: none;
    padding: 0.75rem
}

.contenttable tbody tr td {
    padding-top: 17px;
    padding-bottom: 13px;
}

.btn {
    box-shadow: none!important;
}

.btn--red {
    padding: 0;
    color: red!important;
}

.btn--blue, .btn--green {
    color: #fff!important;
}

.btn--error {
    color: #fff!important;
    background-color: red;
}

.breadcrumb {
    background: none;
    padding: 0;
}

.form-group label {
    margin-bottom: 10px;
}

.tabsdetail__top .active a:hover {
    color: #fff
}

.note-error {
    margin-top: 10px;
}