/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, html {
  height: 100%; }

body {
  overflow-x: hidden;
  position: relative; }

table th {
  white-space: nowrap; }

a {
  -webkit-transition: 0.2s;
  -khtml-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  text-decoration: none; }
a:hover {
  text-decoration: inherit;
  color: #000000; }
a:focus {
  outline: none; }

button:focus {
  outline: none; }

input, select {
  height: 30px;
  line-height: 30px;
  border: 0px;
  border-bottom: 1px solid #cccccc;
  padding-left: 30px;
  width: calc(100%);
  background-color: transparent;
  font-size: 16px;
  color: #333333;
  font-family: "Roboto", sans-serif;
  font-weight: 300; }
input:focus, select:focus {
  outline: none;
  border-bottom: 1px solid #3489bd; }

input[type="checkbox"] {
  width: 13px;
  height: 13px; }

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-size: 16px;
  color: #a8aaac;
  font-family: "Roboto", sans-serif;
  font-weight: 300; }

::-moz-placeholder {
  /* Firefox 19+ */
  font-size: 16px;
  color: #a8aaac;
  font-family: "Roboto", sans-serif;
  font-weight: 300; }

:-ms-input-placeholder {
  /* IE 10+ */
  font-size: 16px;
  color: #a8aaac;
  font-family: "Roboto", sans-serif;
  font-weight: 300; }

:-moz-placeholder {
  /* Firefox 18- */
  font-size: 16px;
  color: #a8aaac;
  font-family: "Roboto", sans-serif;
  font-weight: 300; }

textarea {
  resize: none; }
textarea:focus {
  outline: none; }

.form__error input {
  border-bottom: 1px solid #e74c3c; }
.form__error:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f05a";
  position: absolute;
  right: 0;
  color: #e74c3c;
  top: 10px; }
.form__error_tooltip {
  display: block !important;
  background-color: #e74c3c;
  padding: 5px 15px 4px 9px;
  position: absolute;
  top: 32px;
  z-index: 9;
  right: -8px; }
.form__error_tooltip:after {
  content: "";
  position: absolute;
  bottom: 100%;
  right: 11px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #e84b3b transparent; }
.form__error_tooltip span {
  display: block;
  color: #fff;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.67; }

ul:after {
  content: '';
  display: block;
  clear: both; }

/***********************************************
				    COMMON
***********************************************/
.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300; }

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 450; }

.roboto-semibold {
  font-family: "Roboto", sans-serif;
  font-weight: 600; }

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700; }

.roboto-condensed-light {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300; }

.roboto-condensed-regular {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400; }

.roboto-condensed-bold {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 450; }

.txt-size-h1 {
  font-size: 36px; }

.txt-size-h2 {
  font-size: 18px; }

.txt-size-h3 {
  font-size: 16px; }

.txt-size-h4 {
  font-size: 14px; }

.txt-size-h5 {
  font-size: 12px; }

.txt-size-24 {
  font-size: 24px; }

.line-height134 {
  line-height: 1.34; }

.line-height167 {
  line-height: 1.67; }

.txt-color-black {
  color: #000000; }

.txt-color-black2 {
  color: #333333; }

.txt-color-black3 {
  color: #666666; }

.txt-color-gray {
  color: #a8aaac; }

.txt-color-white {
  color: #fff; }

.txt-color-red {
  color: #e74c3c; }

.txt-color-red2 {
  color: #eb3b5a; }

.txt-color-blue {
  color: #3498db; }

.txt-color-blue2 {
  color: #2d98da; }

.txt-color-yellow {
  color: #fed330; }

.txt-color-yellow2 {
  color: #f7b731; }

.txt-color-green {
  color: #20bf6b; }

.bg-transparent {
  background: transparent; }

.bg-color-white {
  background-color: #ffffff; }

.bg-color-blue {
  background-color: #3498db; }

.bg-color-gray {
  background-color: #f9f9f9; }

.bg-color-blue2 {
  background-color: #005b82; }

.bg-color-green {
  background-color: #20bf6b; }

.bg-color-yellow {
  background-color: #fffbdd; }

.bg-color-yellow2 {
  background-color: #fed330; }

.txt-uppercase {
  text-transform: uppercase; }

.txt-lowercase {
  text-transform: lowercase; }

.txt-capitalize {
  text-transform: capitalize !important; }

.txt-transform-none {
  text-transform: none !important; }

.txt-underline {
  text-decoration: underline; }

.txt-linethrough {
  text-decoration: line-through; }

.txt-overline {
  text-decoration: overline; }

.txt-left {
  text-align: left; }

.txt-right {
  text-align: right !important; }

.txt-center {
  text-align: center; }

.txt-justify {
  text-align: justify; }

.txt-nowrap {
  white-space: nowrap; }

.dpl-none {
  display: none; }

.dpl-block {
  display: block; }

.dpl-il-block {
  display: inline-block; }

.dpl-flex {
  display: flex; }

.overflow-hidden {
  overflow: hidden; }

.pd20 {
  padding: 20px; }

.pd15 {
  padding: 15px; }

.pd10 {
  padding: 10px; }

.pd5 {
  padding: 5px; }

.pdl0 {
  padding-left: 0; }

.pdl5 {
  padding-left: 5px; }

.pdl10 {
  padding-left: 10px; }

.pdl15 {
  padding-left: 15px; }

.pdl20 {
  padding-left: 20px; }

.pdl25 {
  padding-left: 25px; }

.pdl30 {
  padding-left: 30px; }

.pdl40 {
  padding-left: 40px; }

.pdl45 {
  padding-left: 45px; }

.pdl50 {
  padding-left: 50px; }

.pdl55 {
  padding-left: 55px !important; }

.pdl65 {
  padding-left: 65px; }

.pdl60 {
  padding-left: 60px; }

.pdl80 {
  padding-left: 80px; }

.pdl95 {
  padding-left: 95px; }

.pdl100 {
  padding-left: 100px; }

.pdt90 {
  padding-top: 90px; }

.pdt80 {
  padding-top: 80px; }

.pdt50 {
  padding-top: 50px; }

.pdt40 {
  padding-top: 40px; }

.pdt35 {
  padding-top: 35px; }

.pdt30 {
  padding-top: 30px !important; }

.pdt25 {
  padding-top: 25px; }

.pdt20 {
  padding-top: 20px; }

.pdt15 {
  padding-top: 15px !important; }

.pdt10 {
  padding-top: 10px; }

.pdt5 {
  padding-top: 5px; }

.pdt7 {
  padding-top: 7px; }

.pdr0 {
  padding-right: 0; }

.pdr5 {
  padding-right: 5px; }

.pdr10 {
  padding-right: 10px; }

.pdr15 {
  padding-right: 15px; }

.pdr20 {
  padding-right: 20px; }

.pdr25 {
  padding-right: 25px; }

.pdr30 {
  padding-right: 30px; }

.pdr40 {
  padding-right: 40px; }

.pdr45 {
  padding-right: 45px; }

.pdr50 {
  padding-right: 50px; }

.pdr60 {
  padding-right: 60px; }

.pdr80 {
  padding-right: 80px; }

.pdr100 {
  padding-right: 100px; }

.pdbt200 {
  padding-bottom: 100px; }

.pdbt105 {
  padding-bottom: 105px; }

.pdbt60 {
  padding-bottom: 60px; }

.pdbt50 {
  padding-bottom: 50px; }

.pdbt40 {
  padding-bottom: 40px; }

.pdbt35 {
  padding-bottom: 35px; }

.pdbt30 {
  padding-bottom: 30px; }

.pdbt25 {
  padding-bottom: 25px; }

.pdbt24 {
  padding-bottom: 24px; }

.pdbt20 {
  padding-bottom: 20px; }

.pdbt15 {
  padding-bottom: 15px !important; }

.pdbt10 {
  padding-bottom: 10px; }

.pdbt5 {
  padding-bottom: 5px; }

.pdbt0 {
  padding-bottom: 0; }

.mgbt60 {
  margin-bottom: 60px; }

.mgbt50 {
  margin-bottom: 50px; }

.mgbt55 {
  margin-bottom: 55px; }

.mgbt45 {
  margin-bottom: 45px; }

.mgbt40 {
  margin-bottom: 40px; }

.mgbt35 {
  margin-bottom: 35px; }

.mgbt30 {
  margin-bottom: 30px; }

.mgbt25 {
  margin-bottom: 25px; }

.mgbt20 {
  margin-bottom: 20px; }

.mgbt15 {
  margin-bottom: 15px; }

.mgbt10 {
  margin-bottom: 10px; }

.mgbt5 {
  margin-bottom: 5px; }

.mgbt0 {
  margin-bottom: 0; }

.mgl35 {
  margin-left: 35px; }

.mgl30 {
  margin-left: 30px; }

.mgl25 {
  margin-left: 25px; }

.mgl20 {
  margin-left: 20px; }

.mgl15 {
  margin-left: 15px; }

.mgl10 {
  margin-left: 10px; }

.mgt-5 {
  margin-top: -5px; }

.mgt5 {
  margin-top: 5px; }

.mgt10 {
  margin-top: 10px; }

.mgt12 {
  margin-top: 12px; }

.mgt15 {
  margin-top: 15px; }

.mgt20 {
  margin-top: 20px; }

.mgt25 {
  margin-top: 25px; }

.mgt30 {
  margin-top: 30px; }

.mgt35 {
  margin-top: 35px; }

.mgt40 {
  margin-top: 40px; }

.mgt45 {
  margin-top: 45px; }

.mgt50 {
  margin-top: 50px; }

.mgr5 {
  margin-right: 5px; }

.mgr10 {
  margin-right: 10px; }

.mgr15 {
  margin-right: 15px; }

.mgr20 {
  margin-right: 20px; }

.mgr25 {
  margin-right: 25px; }

.mgr30 {
  margin-right: 30px; }

.mgr35 {
  margin-right: 35px; }

.mgr40 {
  margin-right: 40px; }

.mgr50 {
  margin-right: 50px; }

.mgr55 {
  margin-right: 55px; }

.mgr80 {
  margin-right: 80px; }

.mgr85 {
  margin-right: 85px; }

.border-bootom-1x {
  border-bottom: 1px solid; }

.border-bootom-2x {
  border-bottom: 2px solid; }

.border-top-1x {
  border-top: 1px solid; }

.bd0 {
  border: 0px !important; }

.bd1px {
  border: 1px solid; }

.bd-color-gray {
  border-color: #dfe1e4; }

.bd-rdu0 {
  -webkit-border-radius: 0;
  -khtml-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0; }

.bd-rdu {
  -webkit-border-radius: 6px;
  -khtml-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px; }

.bd-rdu4 {
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px; }

.bd-rdu3 {
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px; }

.bd-rdu7 {
  -webkit-border-radius: 7px;
  -khtml-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px; }

.bd-rdu50 {
  -webkit-border-radius: 50%;
  -khtml-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%; }

.position-re {
  position: relative; }

.position-ab {
  position: absolute; }

.position-fix {
  position: fixed; }

.zindex9 {
  z-index: 9; }

.zindex99 {
  z-index: 99; }

.zindex999 {
  z-index: 999; }

.fll {
  float: left; }

.flr {
  float: right; }

.clearboth {
  clear: both; }

.width100 {
  width: 100%; }

.width80 {
  width: 80%; }

.width50 {
  width: 50%; }

.img-w-30 {
  width: 30px;
  height: 30px; }

.img-w-80 {
  width: 80px;
  height: 80px; }

.cursor-pointer {
  cursor: pointer; }

.whitespace {
  white-space: nowrap; }

.opacity3 {
  opacity: 0.3; }

.boxshadow15 {
  -webkit-box-shadow: 0px 0px 30px 2px rgba(0, 0, 0, 0.15) ;
  -moz-box-shadow: 0px 0px 30px 2px rgba(0, 0, 0, 0.15) ;
  box-shadow: 0px 0px 30px 2px rgba(0, 0, 0, 0.15) ; }

.wraper {
  height: 100%; }

.content {
  margin-left: 250px; }

.container-fluid {
  padding-left: 30px;
  padding-right: 30px; }

.btn {
  display: block;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 16px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  width: 100%;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: 0.2s;
  -khtml-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s; }
.btn--blue {
  background-color: #3498db; }
.btn--blue:hover {
  background-color: #227ab5;
  color: #fff; }

.pagination li {
  float: left; }
.pagination li a {
  font-size: 14px;
  color: #333333;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  position: relative;
  display: block;
  padding: .5rem .75rem;
  margin-left: -1px;
  line-height: 1.25;
  background-color: #fff;
  border: 1px solid #dee2e6; }
.pagination li a:hover {
  background-color: #f0f0f0; }

@media only screen and (max-width: 767px) {
  .container-fluid {
    padding-left: 15px;
    padding-right: 15px; } }
.sidebar {
  width: 250px;
  height: 100%; }
.sidebar__content {
  height: 100%; }
.sidebar__content ul li {
  height: 50px;
  line-height: 50px; }
.sidebar__content ul li:hover {
  background-color: #00567b; }
.sidebar__content ul li:hover a {
  color: #fed330;
  font-family: "Roboto", sans-serif;
  font-weight: 700; }
.sidebar__content ul li.active {
  background-color: #00567b; }
.sidebar__content ul li.active a {
  color: #fed330;
  font-family: "Roboto", sans-serif;
  font-weight: 700; }
.sidebar__content .wp-ic {
  left: 15px; }

@media only screen and (max-width: 1024px) {
  .sidebar {
    width: 50px; }
  .sidebar__content_txt {
    display: none; } }
@media only screen and (max-width: 767px) {
  .sidebar {
    display: none; } }
.wraper__box {
  width: 1186px;
  height: 600px;
  top: 50%;
  margin-top: -300px;
  background: url(../images/bg-form.jpg) no-repeat;
  background-position: right; }
.wraper__box_logo a {
  padding-left: 150px;
  padding-top: 35px; }
.wraper__box_left {
  width: calc(100% /2); }
.wraper__box_right {
  width: calc(100% /2); }
.wraper__box_right--form {
  max-width: 370px;
  margin: auto; }
.wraper .ic-input {
  top: 6px;
  left: 0; }

@media only screen and (max-width: 1366px) {
  .wraper__box {
    width: 950px;
    height: 500px;
    margin-top: -250px; }
  .wraper__box_logo a {
    padding-left: 140px;
    padding-top: 20px; }
  .wraper__box_left .img-left img {
    width: 350px; }
  .wraper__box .mgbt40 {
    margin-bottom: 30px; } }
@media only screen and (max-width: 768px) {
  .wraper__box {
    width: 750px; }
  .wraper__box_logo a {
    padding-left: 57px;
    padding-top: 30px; }
  .wraper__box_left .img-left img {
    width: 335px; }
  .wraper__box_right--form {
    width: 330px; } }
@media only screen and (max-width: 767px) {
  .wraper__box {
    width: 100%;
    height: auto;
    top: 0;
    margin-top: 0;
    position: inherit;
    -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0) ;
    -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0) ;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0) ; }
  .wraper__box_logo {
    margin-bottom: 20px; }
  .wraper__box_logo a {
    padding-left: 0;
    padding-top: 30px;
    text-align: center; }
  .wraper__box_left {
    display: none; }
  .wraper__box_right {
    width: 100%;
    float: none; }
  .wraper__box_right--form {
    width: auto;
    padding: 0 20px; }
  .wraper__box_right--form p, .wraper__box_right--form h2 {
    text-align: center; }
  .wraper__box_right .wp-btn {
    margin-bottom: 30px; } }
@media only screen and (max-width: 320px) {
  .wraper__box .mgbt40 {
    margin-bottom: 20px; } }
@media only screen and (max-width: 1366px) {
  .wraper__reister .mgbt40 {
    margin-bottom: 25px; }
  .wraper__reister .mgbt30 {
    margin-bottom: 15px; }
  .wraper__reister h2.mgbt20 {
    margin-bottom: 15px; } }
@media only screen and (max-width: 767px) {
  .wraper__reister {
    padding-bottom: 20px; } }
.wraper__forgotpassword .img-left, .wraper__forgotpassword .wraper__box_right {
  margin-top: 55px; }

@media only screen and (max-width: 1366px) {
  .wraper__forgotpassword .img-left, .wraper__forgotpassword .wraper__box_right {
    margin-top: 40px; } }
@media only screen and (max-width: 1024px) {
  .wraper__forgotpassword .img-left, .wraper__forgotpassword .wraper__box_right {
    margin-top: 30px; } }
@media only screen and (max-width: 768px) {
  .wraper__forgotpassword .img-left, .wraper__forgotpassword .wraper__box_right {
    margin-top: 20px; } }
@media only screen and (max-width: 767px) {
  .wraper__forgotpassword .img-left, .wraper__forgotpassword .wraper__box_right {
    margin-top: 40px; }
  .wraper__forgotpassword .wraper__box_right--form h2 {
    font-size: 25px; }
  .wraper__forgotpassword .wraper__box_right--form p {
    font-size: 14px; }
  .wraper__forgotpassword .wraper__box_right--form .mgbt40 {
    margin-bottom: 25px; } }
.header {
  height: 60px;
  -webkit-box-shadow: 9px 4px 15px 0px rgba(0, 0, 0, 0.1) ;
  -moz-box-shadow: 9px 4px 15px 0px rgba(0, 0, 0, 0.1) ;
  box-shadow: 9px 4px 15px 0px rgba(0, 0, 0, 0.1) ; }
.header input {
  padding-left: 10px; }
.header__logo {
  width: 220px;
  height: 60px;
  line-height: 60px; }
.header__search {
  width: 300px;
  margin-top: 13px; }
.header__search--icon {
  top: 50%;
  right: 5px;
  height: 22px;
  width: 22px;
  margin-top: -11px;
  line-height: 22px; }
.header__user {
  margin-top: 16px; }
.header__user_avt img {
  width: 28px;
  height: 28px; }
.header__user_name span {
  top: 1px;
  right: -27px; }

.listapp__title {
  padding-top: 7px; }
.listapp .btn {
  height: 30px;
  line-height: 30px;
  font-weight: 400;
  font-size: 14px;
  padding: 0 30px; }
.listapp__box_icon {
  height: 50px;
  width: 50px; }
.listapp__box_icon img {
  width: 100%;
  height: 50px; }
.listapp__box:hover {
  background-color: #fff8e6; }
.listapp__box .btn--green {
  right: 0;
  width: auto;
  top: 0; }

@media only screen and (max-width: 767px) {
  .header__logo {
    width: auto; }
  .header__logo h2 {
    margin-right: 10px; }
  .header__search {
    display: none; }

  .listapp__title {
    margin-bottom: 10px; }
  .listapp__box p {
    margin-top: 40px;
    width: 100%; }
  .listapp__box .btn--green {
    top: -32px; } }
.detaillistapp input, .detaillistapp textarea {
  padding-left: 10px;
  background-color: #fff;
  border: 1px solid #dfe1e4;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px; }

.regeneratetoken__box {
  border-color: #e6e2c8; }
.regeneratetoken__box p {
  color: #807e6f; }
.regeneratetoken__box .btn {
  height: 40px;
  line-height: 40px;
  color: #eb3b5a;
  width: auto;
  display: inline-block; }
.regeneratetoken__box .btn:hover {
  background-color: #f9f9f9; }

.appinfo__top_left--avt {
  width: 80px;
  height: 80px; }
.appinfo__top_left--avt img {
  height: 80px; }
.appinfo__top label {
  width: 120px; }
.appinfo__top .btn--blue {
  background-color: #0fb9b1;
  padding: 4px 7px; }
.appinfo__top .btn--white {
  background-color: #fff;
  border: 1px solid #e1e3e5;
  padding: 4px 7px;
  cursor: pointer; }
.appinfo__top .btn--white:hover {
  background-color: #f9f9f9; }
.appinfo__top .tooltip {
  width: 320px;
  right: 50%;
  margin-right: -158px;
  top: 30px; }
.appinfo__top .tooltip:before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 8px;
  border-style: solid;
  border-color: transparent transparent #FFF transparent; }
.appinfo__top .wp-tooltip:hover .tooltip {
  display: block; }
.appinfo__top_btn {
  top: 0;
  right: 0; }
.appinfo__top_btn .btn {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  height: 30px;
  line-height: 30px; }
.appinfo__top_btn .btn--red {
  color: #eb3b5a; }
.appinfo__top_btn .btn--red:hover {
  color: #9e0000; }
.appinfo__bottom {
  padding: 30px 15px; }
.appinfo__bottom .wp-ip {
  max-width: 80px; }
.appinfo__bottom textarea {
  width: 100%;
  height: 75px;
  padding-top: 10px; }
.appinfo__bottom label {
  width: 200px;
  padding-top: 7px; }
.appinfo__bottom_des label {
  width: 13%; }
.appinfo__bottom_des span {
  width: 87%; }

.btn--green {
  background-color: #20bf6b;
  padding: 0 10px; }
.btn--green:hover {
  color: #fff;
  background-color: #1ba95e; }

.tabsdetail__top {
  border-bottom: 2px solid #2d98da; }
.tabsdetail__top li a {
  padding: 15px 25px; }
.tabsdetail__top .active a {
  background-color: #2d98da;
  color: #fff;
  -webkit-border-top-left-radius: 6px;
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-topleft: 6px;
  -moz-border-radius-topright: 6px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px; }
.tabsdetail__top_grant a {
  display: block;
  padding: 0 30px;
  height: 50px;
  line-height: 50px;
  border: 1px solid #eaeaec;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px; }
.tabsdetail__top_grant--check {
  background-color: #f1f1f1; }
.tabsdetail__top_grant--uncheck {
  background-color: #fff; }
.tabsdetail__top_endpoints label {
  width: 200px; }
.tabsdetail__top_endpoints .wp-ip {
  width: 320px; }
.tabsdetail__top_endpoints input {
  background-color: #f1f1f1; }
.tabsdetail__top_endpoints--copy {
  background-color: #f1f1f1;
  padding: 6px 7px 5px;
  border: 1px solid #eaeaec; }
.tabsdetail__top_endpoints--copy:hover {
  background-color: #dddddd; }
.tabsdetail .appinfo__top_btn {
  top: -5px;
  right: 15px; }
.tabsdetail .btn--blue {
  padding: 0 10px; }

@media only screen and (max-width: 1440px) {
  .regeneratetoken__box .btn {
    font-size: 14px;
    padding: 0 10px; }

  .tabsdetail__top_endpoints label {
    width: 150px; }
  .tabsdetail__top_endpoints .wp-ip {
    width: 250px; }
  .tabsdetail__top_endpoints input {
    background-color: #f1f1f1; } }
@media only screen and (max-width: 1280px) {
  .regeneratetoken__box .btn {
    font-size: 12px; } }
@media only screen and (max-width: 1024px) {
  .appinfo__bottom {
    padding: 20px 10px; }
  .appinfo__bottom label {
    width: 145px; }
  .appinfo__bottom .wp-ip input {
    padding-left: 5px; }
  .appinfo__bottom_des label {
    width: 15%; }
  .appinfo__bottom_des span {
    width: 85%; }

  .content {
    margin-left: 50px; } }
@media only screen and (max-width: 768px) {
  .appinfo__bottom_des label {
    width: 27%; }
  .appinfo__bottom_des span {
    width: 73%; }

  .tabsdetail__top_scopes .mgl35 {
    margin-left: 10px; }
  .tabsdetail__top_scopes span.txt-size-h3 {
    font-size: 12px; }
  .tabsdetail__top_uri a {
    word-wrap: break-word;
    line-height: 1.34; }
  .tabsdetail__top_endpoints label {
    margin-bottom: 15px; } }
@media only screen and (max-width: 767px) {
  .appinfo__top_left {
    margin-bottom: 15px; }
  .appinfo__top .pdt35 {
    padding-top: 45px; }
  .appinfo__top .pdt35 .btn--white {
    margin-top: 10px;
    display: block; }
  .appinfo__bottom_des {
    margin-top: 10px; }
  .appinfo__bottom_des label {
    width: 25%; }
  .appinfo__bottom_des span {
    width: 75%; }

  .tabsdetail__top > li {
    width: 100%; }
  .tabsdetail__top_scopes .mgl35 {
    margin-left: 5px; }
  .tabsdetail__top_grant a {
    padding: 0 10px;
    font-size: 12px; }
  .tabsdetail__top_uri a {
    word-wrap: break-word;
    line-height: 1.34; }
  .tabsdetail__top_endpoints label {
    margin-bottom: 15px; }
  .tabsdetail__top_endpoints .wp-ip {
    width: 300px; }

  .content {
    margin-left: 0; } }
.filter__ip input {
  width: 100%;
  height: 40px;
  padding-left: 10px;
  background-color: #fff;
  border: 1px solid #dfe1e4;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  padding-right: 40px; }
.filter__ip span {
  top: 11px;
  right: 15px; }

.contenttable {
  margin-bottom: 20px; }
.contenttable .thead-gray {
  background-color: #ecf0f1; }
.contenttable table {
  margin-bottom: 0; }
.contenttable thead tr th {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  color: #333333;
  font-size: 14px;
  text-align: left; }
.contenttable tbody tr {
  border-bottom: 1px solid #ebebeb; }
.contenttable tbody tr td {
  text-align: left;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #333333;
  font-size: 14px;
  padding-top: 17px;
  padding-bottom: 13px; }
.contenttable tbody tr td span.active {
  display: block;
  width: 12px;
  height: 12px;
  margin: auto;
  -webkit-border-radius: 100%;
  -khtml-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  background-color: #20bf6b; }
.contenttable tbody tr td span.active-none {
  background-color: #cccccc; }
.contenttable tbody tr td img {
  width: 25px;
  height: 25px;
  margin-top: -5px; }
.contenttable tbody tr:hover {
  background-color: #fff8e6; }
.contenttable tbody tr:hover td {
  font-weight: 600; }
.contenttable tbody tr:hover td .dpl-none {
  display: block; }
.contenttable .td-ic ul {
  position: absolute;
  width: 100px;
  right: 7px; }
.contenttable .td-ic ul i:hover {
  color: #3498db; }

.listnhomquyen__content .img-app img {
  width: 30px;
  height: 30px; }
.listnhomquyen__content .txt-app {
  padding-top: 7px; }

@media only screen and (max-width: 768px) {
  .contenttable tbody tr td img {
    display: none; }

  .listnhomquyen__content .img-app {
    display: none; } }
@media only screen and (max-width: 767px) {
  .filter__ip {
    margin-bottom: 10px; }
  .filter .pdl0 {
    padding-left: 15px; }

  .listnhomquyen__content .txt-app {
    margin-bottom: 15px; } }
.detailnhomquyen__top label {
  width: 100px; }
.detailnhomquyen__top_des label {
  width: 10%; }
.detailnhomquyen__top_des span {
  width: 90%; }
.detailnhomquyen__top_des span textarea {
  width: 100%;
  height: 50px; }
.detailnhomquyen__top h2 span {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: auto;
  -webkit-border-radius: 50%;
  -khtml-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  background-color: #20bf6b;
  margin-left: 5px; }
.detailnhomquyen__top h2 .active-none {
  background-color: #cccccc; }

.tabsdetail__permission_top {
  background-color: #ecf0f1;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px; }
.tabsdetail__permission_content--down .wp-row {
  display: none; }

@media only screen and (max-width: 1366px) {
  .detailnhomquyen__top_des label {
    width: 15%; }
  .detailnhomquyen__top_des span {
    width: 85%; }
  .detailnhomquyen__top_des span textarea {
    width: 100%; }

  .tabsdetail__permission_content--box .txt-size-h3 {
    font-size: 13px; }
  .tabsdetail__permission_content--box .mgl35 {
    margin-left: 30px; } }
@media only screen and (max-width: 1024px) {
  .tabsdetail__permission_content--box .mgl35 {
    margin-left: 20px; } }
@media only screen and (max-width: 768px) {
  .detailnhomquyen__top_des {
    margin-top: 15px; } }
@media only screen and (max-width: 767px) {
  .wrapper-detailnhomquyen .breadcrumb {
    display: none; }

  .detailnhomquyen__top ul {
    margin-bottom: 15px; } }
.tabsdetail__userpermission_content--down .wp-row {
  display: none; }

@media only screen and (max-width: 1280px) {
  .usermanager__top_avt {
    margin-right: 10px; }

  .img-w-80 {
    width: 50px;
    height: 50px; } }
.label100 {
  width: 100px; }

.label150 {
  width: 150px; }

@media only screen and (max-width: 1024px) {
  .img-w-80 {
    width: 40px;
    height: 40px; } }
@media only screen and (max-width: 768px) {
  .usermanager__top_avt {
    display: none; } }

/*# sourceMappingURL=main.css.map */
