.select-control {
  cursor:pointer;
  //width: auto;
  //margin-bottom: 10px;
  //display: inline-block;
  //margin-right: 20px;
  position: relative;

  .popup-container {
    position: absolute;
    //top: 25px;
    left: 0;
    background-color: #fff;
    border: 1px solid transparent;
    box-shadow: 0 5px 15px 3px rgba(0, 0, 0, 0.2);
    z-index: 11000;
    width: 250px;

    .heading {
      border-bottom: 1px solid #EBEBEB;
      padding: 10px;
      overflow: hidden;
    }

    .body {
      /*padding: 10px;*/
      display: block;
    }

    .popup-search-input {
      margin: 10px 15px;
      padding-bottom: 10px;
      border-bottom: solid 1px #ebebeb;

      input {
        border-radius: 5px;
        min-width: 150px;
      }
    }

    .ul-select-list {
      max-height: 300px;
      overflow: auto;

      .select-list-item {
        font-size: 13px;
        padding: 5px 15px;
        cursor: pointer;

        &:hover {
          background-color: #EAF3F8;
        }

        &.selected {
          background-color: #EAF3F8;
        }
      }
    }
  }
}

.select-control.active {
  .title {
    color: #2980b9;
  }
}